/*----------------------------------------------------- general styles */

:root {
  --primary-color: #616161;
  --secondary-text-color: #000000;
  --white-color: #ffffff;
  --secondary-bg-color: #f9f7f7;
  --title-color: #222222;
  --accent-color: #d1a954;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white-color);
  color: var(--primary-color);

  font-size: 14px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.list {
  list-style: none;
}

.link {
  font-size: 13px;
  line-height: 1.2308;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}

.current {
  border: 1px solid var(--accent-color);
  padding: 7px 10px 7px 10px;

  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;

  color: #d1a954;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section {
}

.title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.4444;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.logo-descr {
  font-size: 9px;
  line-height: 1.2222;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.site-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.4444;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--title-color);
}

/* ---------------------------------------------------- containers */

.top-container {
  width: 1410px;
  margin: 0 auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/*----------------------------------------------------- header */

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav {
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 30px;
}

/*----------------------------------------------------- menu section */

.menu {
  padding-bottom: 182px;
}

.menu-list {
  display: flex;
  gap: 30px;
}

.menu-list .list-item {
  width: 450px;
  height: 504px;
  display: flex;
  align-items: end;
}

.menu-list .list-item:nth-child(1) {
  background-image: url(../images/menu-1-min.jpg);
}

.menu-list .list-item:nth-child(2) {
  background-image: url(../images/menu-2-min.jpg);
}

.menu-list .list-item:nth-child(3) {
  background-image: url(../images/menu-3-min.jpg);
}

.list-item .item {
  background: rgba(209, 169, 84, 0.9);
  padding: 20px 15px;
}

.item .item-wrap {
  padding: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu .title {
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 400;
  line-height: 1.2333;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

.menu .subtitle {
  line-height: 1.3571;
  font-weight: 400;
  text-align: center;

  color: var(--white-color);
}

/*----------------------------------------------------- about section */

.about {
  padding-bottom: 90px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 35%,
    rgba(196, 196, 196, 1) 35%,
    rgba(196, 196, 196, 1) 100%
  );
}

.about .site-title {
  margin-bottom: 25px;
}

.about .img {
  margin-bottom: 10px;
}

.about .logo-descr {
  margin-bottom: 60px;
}

.about .video {
  margin-bottom: 90px;
}

.text-descr {
  line-height: 1.3571;
}

.about-bottom {
  display: flex;
  text-align: left;
}

.about-logo {
  width: 50%;
  padding: 0 65px;
}

.about-logo .img {
  margin-bottom: 33px;
}

.about .text-descr:first-child {
  margin-bottom: 10px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 39px;
  column-gap: 30px;
  width: 50%;
}

.about-list .item {
  width: 255px;
}

.about-list .subtitle {
  margin-bottom: 20px;
}

.about-list .small-logo::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 30px;
  background: url(../images/logo-small.svg) center bottom no-repeat;
  margin-right: 20px;
}

.about-list .interior::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 30px;
  background: url(../images/interior.svg) center bottom no-repeat;
  margin-right: 20px;
}

.about-list .technologies::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 37px;
  background: url(../images/technologies.svg) center bottom no-repeat;
  margin-right: 20px;
}

.about-list .equipment::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 37px;
  background: url(../images/equipment.svg) center bottom no-repeat;
  margin-right: 20px;
}

/*----------------------------------------------------- gallery section */

.gallery {
  padding-top: 127px;
  padding-bottom: 150px;
}

.gallery .gallery-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gallery-top .gallery-head {
  text-align: center;
  padding: 94px 65px;
}

.gallery-head .img {
  margin-bottom: 10px;
}

.gallery-title {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 1.3333;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.gallery .gallery-bottom {
  display: flex;
  gap: 30px;
}

.gallery-bottom .small {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*----------------------------------------------------- learn-more section */

.learn-more {
  background: url('../images/more-min.jpg') no-repeat;
  padding: 120px 0;
  margin: 0 auto;
  text-align: center;
}

.learn-more .learn-more-title {
  margin-bottom: 70px;

  color: var(--white-color);
}

.learn-more .item {
  display: inline-block;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  background-color: var(--white-color);
}

.learn-more-link .item:first-child {
  padding: 22px 57px;
  margin-right: 90px;
}

.learn-more-link .item:last-child {
  padding: 22px 46px;
}

/*----------------------------------------------------- form section */

.form-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.form-section-wrapper {
  display: flex;
  gap: 30px;
}

.address-wrap {
  width: 50%;
}

.form-section .form-title {
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.form-section .text-descr {
  margin-bottom: 60px;
  max-width: 490px;
}

.address {
  font-style: normal;
}

.address .item {
  margin-bottom: 30px;
}

.address .item:last-child {
  margin-bottom: 0;
}

.address .address-link {
  display: flex;
  justify-content: start;
  align-items: center;
}

.address .address-link:hover {
  color: var(--accent-color);
}

.address .add-icon {
  margin-right: 25px;
  fill: currentColor;
}

.address-list {
  display: flex;
  gap: 30px;
}

.address-list > .item {
  width: 50%;
}

.address-list .subtitle {
  margin-bottom: 30px;
}

.address-link {
  line-height: 1.3571;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.map-link {
  text-decoration: underline;
}

.office-link {
  letter-spacing: -0.01em;
  text-decoration: underline;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form .input:first-child {
  margin-bottom: 25px;
}

.form .input:nth-child(2) {
  margin-bottom: 35px;
}

.form .textarea {
  margin-bottom: 35px;
}

.form .button {
  max-width: 182px;
  padding: 12px 35px;
  border: none;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: var(--accent-color);
}

/*----------------------------------------------------- footer */

.footer {
  padding-top: 120px;
}

.footer .footer-top {
  text-align: center;
}

.footer .site-title {
  margin-bottom: 10px;
}

.footer .logo-descr {
  margin-bottom: 90px;
}

.footer .img {
  margin-bottom: 10px;
}

.footer-img {
  height: 304px;
  background-image: url(../images/footer-min.jpg);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  line-height: 1.3571;

  color: var(--secondary-text-color);
}
