/* general styles */

:root {
    --primary-color: #616161;
    --secondary-text-color: #000000;
    --white-color: #ffffff;
    --secondary-bg-color: #F9F7F7;
    --title-color: #222222;
    --accent-color: #D1A954;
    --border-color: rgba(209, 169, 84, 0.9);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
    color: var(--primary-color);

    font-size: 14px;
    font-weight: 300;
}

.hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.list {
    list-style: none;
}

.link {
    font-size: 13px;
    line-height: 1.2308;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}

.current {
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;

    color: #D1A954;

    border: 1px solid var(--border-color)
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.section {}

.title {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.4444;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.logo-descr {
    font-size: 9px;
    line-height: 1.2222;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.site-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.4444;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--title-color);
}

/* header */

.header {}

.site-nav {}

.nav-list {}

/* menu section */

.menu {}


.menu-list {}

.menu-list-item {
    background-color: var(--accent-color)
}

.menu-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2333;
    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);
}

.menu-subtitle {
    line-height: 1.3571;
    font-weight: 400;
    text-align: center;

    color: var(--white-color);
}

/* about section */

.about {}


.text-descr {
    line-height: 1.3571;
}

.about-list {}

/* gallery section */

.gallery {}

.gallery-title {
    font-size: 24px;
    line-height: 1.3333;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.title {}

/* learn-more section */

.learn-more {
    background: url('../images/more-min.jpg') no-repeat;
}

.learn-more-title {
    color: var(--white-color);
}

.learn-more-link {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    background-color: var(--white-color);
}

/* form section */

.form-section {}

.form-title {
    color: var(--secondary-text-color);
}

.address {
    font-style: normal;
}

.address-list {}


.address-link {
    line-height: 1.3571;
    text-decoration: none;

    color: var(--secondary-text-color);
}

.map-link {
    text-decoration: underline;
}

.office-link {
    letter-spacing: -0.01em;
    text-decoration: underline;
}

/* footer */

.footer {}

.footer-img {}

.footer-text {
    line-height: 1.3571;

    color: var(--secondary-text-color);
}